<p>items has been added to cart</p>
  {{#each kitchenitems}}
  {{!--kitchenitems.id--}}
  {{!--toJSON kitchenitems--}}
  
    <h5 class="card-header" style="background-color: #808080;">{{this.dataValues.name}}</h5>
    <div class="card-body">
     
      <div class="col-md-4">  Category: {{this.dataValues.category}}</div> 
      <div class="col-md-4">  Item Price: {{this.dataValues.itemPrice}}</div>
      <div class="col-md-4">  Quantity: {{this.dataValues.quantity}}</div> 

     
    </div>



  {{/each}}