<div class="displayContainer">
<ul>
  {{#each kitchenitems}}
  
  	<li>
  	    <p><span>Name:</span> {{this.productName}}</p>
      <p><span>Category:</span> {{this.category}}</p>
      <p><span>Description:</span> {{this.productDescription}}</p>
  	</li>
  {{/each}}
</ul>
</div>